/*.*
!.gitignore
!README.md

/admin/*
!/admin/

/admin/controller/*
!/admin/controller/
/admin/controller/extension/*
!/admin/controller/extension/
/admin/controller/extension/module/*
!/admin/controller/extension/module/
!/admin/controller/extension/module/xd_checkout.php

/admin/language/*
!/admin/language/
/admin/language/en-gb/*
!/admin/language/en-gb/
/admin/language/en-gb/extension/*
!/admin/language/en-gb/extension/
/admin/language/en-gb/extension/module/*
!/admin/language/en-gb/extension/module/
!/admin/language/en-gb/extension/module/xd_checkout.php

/admin/language/ru-ru/*
!/admin/language/ru-ru/
/admin/language/ru-ru/extension/*
!/admin/language/ru-ru/extension/
/admin/language/ru-ru/extension/module/*
!/admin/language/ru-ru/extension/module/
!/admin/language/ru-ru/extension/module/xd_checkout.php

/admin/view/*
!/admin/view/

/admin/view/javascript/*
!/admin/view/javascript/
/admin/view/javascript/jquery/*
!/admin/view/javascript/jquery/

/admin/view/template/*
!/admin/view/template/
/admin/view/template/extension/*
!/admin/view/template/extension/
/admin/view/template/extension/module/*
!/admin/view/template/extension/module/
!/admin/view/template/extension/module/xd_checkout.twig

/admin/view/stylesheet/*
!/admin/view/stylesheet/


/catalog/*
!/catalog/
/catalog/controller/*
!/catalog/controller/

!/catalog/controller/xd_checkout/

/catalog/language/*
!/catalog/language/
/catalog/language/en-gb/*
!/catalog/language/en-gb/
!/catalog/language/en-gb/xd_checkout/

/catalog/language/ru-ru/*
!/catalog/language/ru-ru/
!/catalog/language/ru-ru/xd_checkout/

/catalog/view/*
!/catalog/view/

/catalog/view/javascript/*
!/catalog/view/javascript/
/catalog/view/javascript/jquery/*
!/catalog/view/javascript/jquery/
!/catalog/view/javascript/jquery/xd_checkout/

/catalog/view/theme/*
!/catalog/view/theme/
/catalog/view/theme/default/*
!/catalog/view/theme/default/
/catalog/view/theme/default/stylesheet/*
!/catalog/view/theme/default/stylesheet/
!/catalog/view/theme/default/stylesheet/xd_checkout.css
!/catalog/view/theme/default/stylesheet/xd_checkout_one.css
!/catalog/view/theme/default/stylesheet/xd_checkout_two.css
!/catalog/view/theme/default/stylesheet/xd_checkout_three.css

/catalog/view/theme/default/template/*
!/catalog/view/theme/default/template/
!/catalog/view/theme/default/template/xd_checkout/


/system/*
!/system/
!/system/xd_checkout.ocmod.xml
/system/library/*
!/system/library/
!/system/library/xd_checkout/