.xd_checkoutleft {
	width: 30%;
	float:left;
}
.xd_checkoutright {
	width: 30%;
	float: left;
	padding-left:30px;
	overflow: auto;
}
.xd_checkoutleft.cart-module-holder {
	width: 40%;
	padding-left:30px;
	float:left;
}
.xd_checkoutmid {
	width: 100%;
}

#xd_checkoutconfirm .xd_checkoutleft .col-sm-6 {
	width: 100% !important;
}

table.xd_checkout-cart {
	overflow: auto;
}
.xd_checkout-cart td.image img {
	width: 30px;
	height: auto;
}
#xd_checkoutconfirm .terms label {
	margin-right:0px;
	margin-bottom:15px;
	display:block;
}
