{% if coupon_module %}
    <div id="coupon-content" class="form-group">
        <div class="input-group">
            <input type="text" name="coupon" value="" class="form-control" placeholder="{{ entry_coupon_placeholder }}" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="button-coupon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </button>
            </span>
        </div>
    </div>
{% endif %}

{% if voucher_module %}
    <div id="voucher-content" class="form-group">
        <div class="input-group">
            <input type="text" name="voucher" value="" class="form-control" placeholder="{{ entry_voucher_placeholder }}" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="button-voucher">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </button>
            </span>
        </div>
    </div>
{% endif %}

{% if reward_module and reward %}
    <div id="reward-content" class="form-group">
        <div class="input-group">
            <input type="text" name="reward" value="" class="form-control" placeholder="{{ entry_reward_placeholder }}" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="button-reward">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </button>
            </span>
        </div>
    </div>
{% endif %}
<br />